@use '@/shared/assets/styles/varialabels' as *;

.gridBox {
    display: grid;
    grid-template-columns: 193px 1fr;
    column-gap: 30px;
    width: 100%;
}

.label {
    font-weight: 500;
    color: $black;
    line-height: 120%;
    font-size: 28px;
    text-align: end;
}