@use '@/shared/assets/styles/varialabels' as *;


.regularBtn {
    @include blue-btn();
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: $white;
    border-radius: 50%;
    animation: blink 1.4s infinite both;
}
.dot:nth-child(1) {
    animation-delay: -0.32s;
}
.dot:nth-child(2) {
    animation-delay: -0.16s;
}
@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}